.landing-whole {
  justify-self: center;
  /* background: linear-gradient(-45deg, #0c0c0f, #575b82); */
  border-radius: 20px;
  width: 25rem;
  height: 20rem;
  margin-top: 15rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center;
}

/* .landing-whole:hover {
  transform: scale(1.01);
  box-shadow: 4px 4px 6px 2px rgba(24, 25, 32, 0.3);
} */

.landing {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 7rem; */
  line-height: 4rem;
  padding-top: 4.4rem;
  /* position: fixed; */
  /* overflow-y: hidden; */
  transition: background-color 0.3s ease;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
}

.header {
    font-size: x-large;
}

.catchphrase {
    text-align: center;
    margin-top: 1.5rem;
    font-size: larger;
    line-height: 2.6rem;
}

.catchphrase-link {
  font-size: larger;
  color: rgb(255, 255, 255);
  transition: 0.3s ease;
}

.catchphrase-link:hover {
  color: #E07A5F;
}

.catchphrase a {
  text-decoration: none;
}

@media (max-width: 838px) {

  .landing-whole {
    margin-top: 20rem;
  }

  .landing {
    height: calc(100vh - 5rem);
    margin-top: 0rem; /* Adjust for taller navbar */
    padding-top: 4.3rem;
    font-size: large;
  }
}
