.user-profile {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 4rem); /* Subtract navbar height */
  margin-top: 7rem; /* Push below fixed navbar */
}

.user-synths-block {
  /* border: 2px solid rgb(196, 196, 196); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.user-synths {
  border: 2px solid rgb(196, 196, 196);
  width: 80%;
  height: 48rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  padding: 1rem;
  margin-top: 2rem;
}

.user-info-block {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(196, 196, 196);
  height: 20rem;
  padding: 2rem;
  align-items: center;
  margin-top: 5rem;
  margin-left: 5rem;
}

.user-info-img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.user-edit-btn {
  border: 2px solid rgb(196, 196, 196);
  padding: 0.5rem;
}

.user-back-btn {
  border: 2px solid rgb(196, 196, 196);
  padding: 0.5rem;
}

.no-synths-msg {
  margin-left: 15rem;
  margin-top: 5rem;

}

@media (max-width: 768px) {
  .user-profile {
    height: calc(100vh - 19rem); /* Adjust for taller navbar */
    margin-top: 14rem; /* Adjust for taller navbar */
    flex-direction: column; /* Stack vertically on small screens */
  }
  .user-info-block {
    height: calc(100vh - 19rem); /* Adjust for taller navbar */
    margin-top: 2rem; /* Adjust for taller navbar */
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .user-synths {
    height: calc(100vh - 44rem);
  }

  .user-info-img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }

  .no-synths-msg {
    height: calc(100vh - 19rem); /* Adjust for taller navbar */
    margin-top: 2rem; /* Adjust for taller navbar */
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.user-edit-btns {
    margin: 1rem;
    display: flex;
    width: 12rem;
    justify-content: space-around;
}

