.edit-synth {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 4rem);  /* Subtract navbar height */
    margin-top: 7rem;            /* Push below fixed navbar */
}

@media (max-width: 768px) {
    .edit-synth {
        height: calc(100vh - 5rem);  /* Adjust for taller navbar */
        margin-top: 14rem;            /* Adjust for taller navbar */
    }
}

.synth-name {
    margin: 2rem;
}

.edit-synth-form {
    display: flex;
    border: 2px solid rgb(196, 196, 196);
    width: 80%;
    height: 48rem;
    justify-self: center;
    margin-top: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    .edit-synth-form {
        height: calc(100vh - 24.2rem)
    }
}

.edit-synth-fields {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    border: 2px solid rgb(196, 196, 196);
    line-height: 3rem;
    margin-top: 1rem;
    width: 95%;
    align-items: center;
    margin-bottom: 1rem;
}

.edit-synth-fields input,
.edit-synth-fields textarea,
.edit-synth-fields select {
    width: 30rem;
    max-width: calc(80vw - 4rem); /* 80vw (form width) minus padding */
    box-sizing: border-box;
    padding: 0.5rem;
    margin-bottom: 1rem;

}
